<!-- m.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我爱新房特惠周</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/m.css">
	<script>
        var config = (function(){
       	    var city = "<%= city %>"
			var reqUrl = "<%= reqUrl %>"
			var products = JSON.parse('<%- JSON.stringify(products)%>');
            return {
            	getCity : function(){
            		return city
            	},
            	getreqUrl : function(){
            		return reqUrl;
            	},
            	getProducts : function(){
            		return products;
            	}
            }
        })()
	</script>
	<script src="js/zepto.min.js"></script>
	<script src="js/m.js"></script>
</head>
<body>
	<div class="modal">
		<div class="modal_box">
			<div class="modal_header">
				泰合中央广场
			</div>
			<div class="modal_content">
				<div>
					<label for="">您的称呼</label>
					<input id="UserName" class="input" type="text" placeholder="请输入真实姓名">
				</div>
				<div>
					<label for="">您的手机号</label>
					<input id="CellPhone" class="input" type="text" placeholder="请输入手机号">
				</div>
			</div>
			<div class="modal_footer">
				<div class="agreement">
					<label>
					    <input id="agrCheck" type="checkbox" checked="checked">
					    <span class="checkbox"></span>
					</label>
					<span>我已经阅读并同意<a href="https://res01.maifangbar.com/activity/2017/tehuizhou/clause.html">《我爱我家新房委托协议》</a></span>
				</div>
				<div class="req">
					立抢优惠
				</div>
			</div>
		</div>
		<div class="success">
				<img src="img/icon-done.png" alt="">
				<div class="blod">
					恭喜您！抢先预约成功
				</div>
				<div>
					稍后我爱我家置业顾问将联系您
				</div>
				<div class="success_btn">
					确定
				</div>
		</div>
	</div>
	
	<div class="m_top">
		<div style="
		    position: absolute;
		    right: 23%;
		    top: 19%;
		    color: white;
		    font-weight: 600;
		" class=""><%= city %>市</div>
		<img src="img/bg-top.png" alt="">
		<div class="des">
			<div class="title">
				活动时间：【3月20日-3月26日】
			</div>
			<div class="text">
				<%= activeDes %>
			</div>
		</div>
	</div>
	<div class="m_container">
		<div class="content">
			<% products.forEach(function(product){ %>
				<div class="item" data-id="<%= product.id %>" data-phone1="<%= product.phone_1 %>" data-phone2="<%= product.phone_2 %>">
					<a href="<%= product.link %>">
						<div style="position: relative;">
							<img class="img" src="<%= product.imgUrl %>" alt="">
							<% if(product.saleoff!="0"&&product.saleoff!="") {%>
								<div class="saleoff">
									<img src="img/pic-saleoff.png" alt="">
									<div class="saleoff_text"><%= product.saleoff %></div>
								</div>
							<% } %>
							<div class="textbox">
								<div class="building">
									<%= product.name %>
								</div>
								<div>
									<%= product.subTitle %>
								</div>
							</div>
						</div>
					</a>
					<% if(product.type==1){ %>
						<img class="button" src="img/button-seemore_2.png" alt="">
					<% }else{ %>
						<img class="button" src="img/button-favorable.png" alt="">
					<% } %>	
					<div class="info">
						<div>
							区域：<%= product.area %>
						</div>
						<div>
							亮点：<%= product.keys %>
						</div>
						<div>
							价格：<%= product.price %>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
		<img class="bg-top" src="img/bg-top2.png" alt="">
		<img class="bg-bottom" src="img/bg-foot.png" alt="">
	</div>
	<div style="display:none">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260155408'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260155408' type='text/javascript'%3E%3C/script%3E"));</script>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	 
	  ga('create', 'UA-1318775-76', 'auto');
	  ga('send', 'pageview');
	 
	</script>
</body>
</html>