<!-- pc.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<link rel="stylesheet" href="css/pc.css">
	<script>
        var config = (function(){
       	    var city = "<%= city %>"
			var reqUrl = "<%= reqUrl %>"
			var products = "<% JSON.parse(JSON.stringify(products)) %>"
            return {
            	getCity : function(){
            		return city
            	},
            	getreqUrl : function(){
            		return getreqUrl;
            	},
            	getProducts : function(){
            		return products;
            	}
            }
        })()
	</script>
	<script src="js/jquery.js"></script>
	<script src="js/pc.js"></script>
</head>
<body>
	<div class="modal">
		
	</div>
	<div class="modal_box">
			<div class="modal_header">
				泰合中央广场
			</div>
			<div class="modal_content">
				<div>
					<label for="">您的称呼</label>
					<input id="UserName" class="input" type="text" placeholder="请输入真实姓名">
				</div>
				<div>
					<label for="">您的手机号</label>
					<input id="CellPhone" class="input" type="text" placeholder="请输入手机号">
				</div>
			</div>
			<div class="modal_footer">
				<div class="agreement">
					<label>
					    <input id="agrCheck" type="checkbox" checked="checked">
					    <span class="checkbox mycheck"></span>
					</label>
					<span>我已经阅读并同意《我爱我家新房委托协议》</span>
				</div>
				<div class="req">
					立抢优惠
				</div>
			</div>
		</div>
		<div class="success">
			<img src="img/icon-done.png" alt="">
			<div class="blod">
				恭喜您！抢先预约成功
			</div>
			<div>
				稍后我爱我家置业顾问将联系您
			</div>
			<div class="success_btn">
				确定
			</div>
		</div>
	<div class="body">
		<div class="m_top">
			<img src="img/bg-top_pc.png" alt="">
			<div class="des">
				<div class="title">
					活动时间：【3月13日-3月17日】
				</div>
				<div class="text">
					<%= activeDes %>
				</div>
			</div>
		</div>
		<div class="m_container">
			<div class="content">
				<% products.forEach(function(product){ %>
					<div class="item" data-id="<%= product.id %>" data-phone1="<%= product.phone_1 %>" data-phone2="<%= product.phone_2 %>">
						<a href="<%= product.link %>">
							<div style="position: relative;">
								<img class="img" src="<%= product.imgUrl %>" alt="">
								<% if(product.saleoff!="0"&&product.saleoff!="") {%>
									<div class="saleoff">
										<img src="img/pic-saleoff.png" alt="">
										<div class="saleoff_text"><%= product.saleoff %></div>
									</div>
								<% } %>
							</div>
						</a>
						<div class="info">
							<div class="title building"><%= product.name %></div>
							<div>区域：<%= product.area %></div>
							<div>亮点：<%= product.keys %></div>
							<div>
								价格：<%= product.price %>
								<img class="button" src="img/pc-favorable.png" alt="">
							</div>
							<div class="details">
								<a href="<%= product.link %>">
									<img src="img/button-seemore.png" alt="">
								</a>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
			<img class="bg-bottom" src="img/pc-foot.png" alt="">
		</div>
	</div>
</body>
</html>